@model List<Item>
@{
    ViewData["Title"] = "items";
    Layout = "~/Views/Dashboard/Dashboard.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    @if (TempData["CartItemAdded"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 5; top: 1rem; right: 1rem;">
            <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["CartItemAdded"]
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="container justify-content-end">
        <div class="row mt-4">
            @foreach (Item item in Model.OrderBy(i => i.Category))
            {
                <div class="col">
                    <div class="card mb-4" style="min-height:18rem; width: 18rem;" ;>
                        <img src="@item.Image" style="height: 200px; width:200px" ; class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.ItemName</h5>
                            <div class="grid">
                                <p class="card-text">@item.Price.ToString("C")</p>
                                <p class="card-text">Availability=@item.Quantity.ToString("C")</p>
                                <p class="card-text">Category=@item.Category</p>
                            </div>
                            <form method="post" asp-controller="Dashboard" asp-action="Cart">
                                <input type="hidden" name="itemId" value="@item.ItemId" />
                                <button id="myWish" type="submit" class="btn btn-primary mt-2">Add to cart</button>
                            </form>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myWish").click(function showAlert() {
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                    $("#success-alert").slideUp(500);
                });
            });
            $("#success-alert").hide();
        });
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
